body {
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 24px;
    background-color: #252525;
    color: white;
}

/*  */

.navbar {
    padding: 1% 2% 0% 2%;
    width: 96%;
    position: relative;
}

.navbar .logo {
    font-size: 150%;
    font-weight: bold;
    height: 100%;
}

.navbar .ul-navbar {
    float: right;
    margin: 0;
}

.navbar .ul-navbar .li-navbar {
    display: inline-block;
}

.navbar .ul-navbar .li-navbar .a-navbar {
    text-align: center;
    font-size: 75%;
    padding: 7px 13px;
    text-decoration: none;
    border-radius: 6px;
    text-transform: uppercase;
}

.a-navbar.active,
.a-navbar:hover {
    background-color: #1b9bff;
    transition: .5s;
}

a:visited {
    color: white;
}

a:link{
    color: white;
}

/*  */

.text-area {
    margin-top: 15%;
    margin-left: 10%;
    margin-bottom: 10%;
    float: left;
    text-align: center;
    max-width: 25%;
}

.text-area p {
    text-transform: uppercase;
    text-align: justify;
    font-size: 75%;
    margin-bottom: 10%;
}

.text-area a {
    float: left;
    font-weight: bold;
    font-size: 75%;
    text-transform: uppercase;
}

.audio {
    float: right;
    margin-top: 21%;
    margin-right: 10%;
}

.audio audio {
    width: 850px;
}

/*  */

.light-mode {
    background-color: white;
    color: #252525;
}

.light-mode a:visited {
    color: #252525;
}

.light-mode a:link {
    color: #252525;
}