body {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 24px;
    background-color: #252525;
}

/*  */

.navbar {
    padding: 1% 2% 0% 2%;
}

.navbar .logo {
    color: white;
    font-size: 150%;
    font-weight: bold;
}

.navbar .ul-navbar {
    float: right;
    margin: 0;
}

.navbar .ul-navbar .li-navbar {
    display: inline-block;
}

.navbar .ul-navbar .li-navbar .a-navbar {
    color: white;
    text-align: center;
    font-size: 75%;
    padding: 7px 13px;
    text-decoration: none;
    border-radius: 6px;
    text-transform: uppercase;
}

.a-navbar.active,
.a-navbar:hover {
    background-color: #1b9bff;
    transition: .5s;
}

/*  */

.container {
    border-radius: 5px;
    padding: 20px;
}

h3{
    color: white;
    margin-left: 1%;
}

.container label {
    color: white;
}


input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    color: white;
    background-color: #292929;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
