body {
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 24px;
    background-image: url(../img/wallhaven-l3zyg2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #252525;
}

@media only screen and (max-width: 767px) {
    body {
        background-image: url(../img/wallhaven-l3zyg2.jpg);
    }
}

/*  */

/* header {
    background-image: url(../img/wallhaven-l3zyg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(107vh - 80px);
} */

.navbar {
    padding: 1% 2% 0% 2%;
    width: 96%;
    position: relative;
}

.navbar .logo {
    color: white;
    font-size: 150%;
    font-weight: bold;
    height: 100%;
}

.navbar .ul-navbar {
    float: right;
    margin: 0;
}

.navbar .ul-navbar .li-navbar {
    display: inline-block;
}

.navbar .ul-navbar .li-navbar .a-navbar {
    color: white;
    text-align: center;
    font-size: 75%;
    padding: 7px 13px;
    text-decoration: none;
    border-radius: 6px;
    text-transform: uppercase;
}

.a-navbar.active,
.a-navbar:hover {
    background-color: #1b9bff;
    transition: .5s;
}

.center-area {
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    top: 25%;
    color: #fff;
}

.center-area a {
    color: white;
    background-color: #41adff;
    font-size: 85%;
    padding: 10px 25px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

@media (min-width: 812px) {
    .center-area h1 {
        text-align: center;
        font-size: 500%;
    }

    .center-area h3 {
        text-align: center;
        font-size: 140%;
    }
}

@media (max-width: 812px) {
    .center-area h1 {
        text-align: center;
        font-size: 250%;
    }

    .center-area h3 {
        text-align: center;
        font-size: 80%;
    }

    .navbar .logo {
        width: 50%;
        font-size: 100%;
        font-weight: bold;
    }

    .navbar .ul-navbar {
        position: relative;
        width: 50%;
    }

    .navbar .ul-navbar .li-navbar .a-navbar {
        display: block;
        width: 100%;
    }
}

/*  */